@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?8fdye");
  src: url("../fonts/icomoon.eot?#iefix8fdye") format("embedded-opentype"), url("../fonts/icomoon.woff?8fdye") format("woff"), url("../fonts/icomoon.ttf?8fdye") format("truetype"), url("../fonts/icomoon.svg?8fdye#icomoon") format("svg"); }
.icon-wind:before, .icon-sun-stroke:before, .icon-moon-stroke:before, .icon-cloud:before, .icon-rain:before, .icon-umbrella:before, .icon-office:before, .icon-droplet:before, .icon-fire:before, .icon-lightning:before, .icon-globe:before, .icon-earth:before, .icon-cloudy:before, .icon-cloudy2:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-wind:before {
  content: ""; }

.icon-sun-stroke:before {
  content: ""; }

.icon-moon-stroke:before {
  content: ""; }

.icon-cloud:before {
  content: ""; }

.icon-rain:before {
  content: ""; }

.icon-umbrella:before {
  content: ""; }

.icon-office:before {
  content: ""; }

.icon-droplet:before {
  content: ""; }

.icon-fire:before {
  content: ""; }

.icon-lightning:before {
  content: ""; }

.icon-globe:before {
  content: ""; }

.icon-earth:before {
  content: ""; }

.icon-cloudy:before {
  content: ""; }

.icon-cloudy2:before {
  content: ""; }

/* Meyer's Reset
 *http://meyerweb.com/eric/tools/css/reset/
 *   v2.0 | 20110126
 *   License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 1em;
  font-family: "Open Sans", sans-serif;
  background-color: #00999e;
  color: #FFFFFF;
  text-align: center; }

h1, h2, h3, h4, h5 {
  font-family: "Oswald", courier, sans-serif; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

a:hover, a:visited {
  color: #e6e6e6; }

#chart g {
  background-color: #1EF8FF;
  margin: #FFFFFF;
  margin-width: 1; }
#chart text {
  font-family: "Open Sans", sans-serif;
  color: #e6e6e6; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
  .clearfix:after {
    clear: both; }

.city-select {
  margin-top: 2%; }

.city-item {
  margin-top: 1.5%; }

.centerpiece {
  font-size: 12em; }

.last {
  margin-bottom: 1em; }

/*# sourceMappingURL=style.css.map */
